* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 4rem;
}

/* IMAGE ANIMATION */
.image-animation {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.image-animation__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.image-animation__item {
    aspect-ratio: 4/5;
    background: rgb(223, 183, 183);
    border-radius: 4px;
    opacity: 0;
    transform: scale(0);
}
.image-animation__row.visible .image-animation__item {
   animation: grow-box 0.8s forwards;
    animation-delay: var(--delay);
}

@keyframes grow-box {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

 
/* TEXT FADE ANIMATION */
.text {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.text.visible {
    opacity: 1;
    transform: translateY(0);
    margin: 4rem 0;
}

.text__block {
    line-height: 2rem;
}

