@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Interstate-Bold";
  src: url("../fonts/Interstate Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "InterstateMono";
  src: url("../fonts/Interstate Mono Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
