body {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: lighter; */
    margin: 60px;
}

nav {
    margin-bottom: 24px;
    /* display: flex; */
    /* justify-content: ; */
}

hr {
    border: 1px solid black;

}

sup {
    font-size: 20px;
}

.nav_element {
    padding-right: 40px;
}

h2,
h4 {
    margin-top: 32px;
}

h3 {
    margin: 32px 0 32px 0px;
}

p {
    line-height: 1.2;
}

li {
    margin-bottom: 8px;
}

.audio-wrapper {
    display: flex;
    align-items: center;
}

audio {
    margin: 25px;
    /* display: flex;
    align-items: center;  */
}

summary {
    /* border:5px; */
    width: fit-content;
    border: 1px solid black;
    padding: 12px;

    display: flex;
    /* align-items: flex-end; */
}

.image-wrapper {
    display: flex;
    align-items: center;
}

.img-video-caption {
    margin: 30px;
    /* padding: 40px; */
}

.video-wrapper {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.red_text {
    color: red;
}

/* page 2 */

table,
th,
td {
    border: 1px solid black;
    padding: 0px;
    ;
}

th,
td {
    padding: 24px;
}

.heading {
    font-weight: bold;

}

.red_text {
    color: red;
}

/* page 3 */

/* .page3-form-row{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 300px;
    margin-bottom: 12px;

    
} */

.page3-form-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: flex-start;
    width: 320px;
    margin-bottom: 18px;
    column-gap: 24px;


}

.page3-form-row label {
    font-weight: bold;
    /* padding: 32px; */
}

.page3-form-row input {
    height: 1.5rem;
}

.page3-form-row select {
    height: 2rem;
}



.checkbox-content,
.button-content {
    grid-column: 2;
    width: max-content;
    display: flex;
    align-items: center;
}

.button-content {
    width: fit-content;
    margin: 24px 0px;
}

/* .radio-choice{
    margin-right: 12px;

} */


/* page 4 */

.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px
        /* padding: 10px; */
}

.container-grid div {
    border: 2px dotted black;
    padding: 12px;
    margin-bottom: 24px;
}

.language {

    display: flex;
    justify-content: space-between;
}

.language div {
    border: 0px;
    padding: 4px;
    margin: 0px;
}