.new-sidebar {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem;
    height: fit-content;
}

.new-sidebar__title {
    color: var(--orange);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.new-sidebar__item {
    padding: 1rem 0;
}

.new-sidebar__item:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.new-sidebar__heading {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.new-sidebar__heading:hover {
    color: var(--orange);
}

.new-sidebar__text {
    color: var(--grey);
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.new-sidebar__link {
    text-decoration: none;
    color: var(--orange-light);
    font-size: 0.6rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.new-sidebar__link:hover {
    color: var(--white);
}